.similar-wrapper {
  margin-top: 40px;
}

.similar-list {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.similar-card {
  min-width: 220px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
  transition: 0.2s;
}

.similar-card:hover {
  transform: scale(1.03);
}

.similar-img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.similar-text {
  padding: 10px;
}

.similar-locality {
  color: #777;
  font-size: 0.9rem;
}
